<div class="container">
    <div class="row w-100 justify-content-center">
        <div class="col-6 d-flex justify-content-end pe-3">
            <home-component></home-component>
        </div>
        <div class="col-6 d-flex justify-content-start ps-3">
            <visitor-component></visitor-component>
        </div>
    </div>
    <div class="row w-100 justify-content-center">
        <div class="col-12 d-flex justify-content-center">
            <timer-component></timer-component>
        </div>
    </div>
</div>