<div class="timer-wrapper">

    @if (!isEditing()) {
    <div class="timer-render-area" (click)="enableEdit()">
        <div class="digital-display">
            <span class="digits">
                {{ minutes() | number:'2.0-0' }}:{{ seconds() | number:'2.0-0' }}<span class="ms">.{{ decimals()}}</span>
            </span>
        </div>
    </div>
    } @else {
    <div class="timer-edit-card">
        <div class="inputs-group">
            <input #minInput type="number" [value]="inputMin" (input)="inputMin = +minInput.value" min="0"
                max="99" placeholder="Min">
            <span>:</span>
            <input #secInput type="number" [value]="inputSec" (input)="inputSec = +secInput.value" min="0"
                max="59" placeholder="Sec">
            <span>.</span>
            <input #decInput type="number" [value]="inputDec" (input)="inputDec = +decInput.value" min="0"
                max="9" placeholder="Dec">
        </div>

        <div class="actions">
            <button (click)="saveTime()" class="btn-save">Conferma</button>
            <button (click)="cancelEdit()" class="btn-cancel">Annulla</button>
        </div>
    </div>
    }
</div>

